@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.blog-banner {
  @include mix.banner;
  border-radius: 25px;

  background-image: linear-gradient(
      90deg,
      rgba(30, 56, 131, 1) 0%,
      rgba(160, 178, 232, 1) 35%,
      rgba(255, 255, 255, 0) 35%
    ),
    url("../Images/about\ banner.png");

  .content {
    background-color: var.$text-color-secondary;
    color: var.$text-color-primary;
    border-radius: 15px;
    padding: 25px;
    margin-left: var.$gutter-base * 3;
    h3 {
      font-size: 2rem;
      font-weight: 600;
    }
    p {
      margin-bottom: var.$gutter-base;
    }
    button {
      border: none;
      border-radius: 15px;
      padding: 8px 32px;
      font-weight: 500;
      background-color: var.$background-color-secondary;
      color: var.$text-color-secondary;
    }
    button:hover {
      background-color: var.$background-color-hover;
    }
  }
}

.blog-card-img {
  margin-bottom: var.$gutter-base;
  border-radius: 15px;
}

#post-container {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}
.post-item {
  margin-bottom: var.$gutter-base;
  .card {
    margin: 0 15px;
  }
}

.active {
  background-color: var.$background-color-secondary !important ;
  color: var.$text-color-secondary !important;
  border: 2px solid var.$background-color-secondary !important;
}

#tag-filters,
#category-filters {
  display: flex;
  flex-wrap: wrap;
  input {
    display: none;
  }
  label:hover {
    cursor: pointer;
  }
  label {
    border: 2px solid transparent;
  }
}
#tag-filters {
  label {
    padding: 5px 15px;
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  label:nth-child(4n + 1) {
    background-color: var.$text-color-secondary;
    border: 2px solid var.$btn-color4;
    color: var.$btn-color4;
    &:hover {
      background-color: var.$btn-color4-hover-transperent;
    }
  }
  label:nth-child(4n + 3) {
    background-color: var.$text-color-secondary;
    border: 2px solid var.$btn-color2;
    color: var.$btn-color2;
    &:hover {
      background-color: var.$btn-color2-hover-transperent;
    }
  }

  label:nth-child(4n + 2) {
    background-color: var.$btn-color1;

    color: var.$text-color-secondary;
    &:hover {
      background-color: var.$btn-color1-hover;
    }
  }
  label:nth-child(4n) {
    background-color: var.$btn-color3;

    color: var.$text-color-secondary;
    &:hover {
      background-color: var.$btn-color3-hover;
    }
  }
}
#category-filters {
  label {
    padding: 5px 50px;
    border-radius: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
  label:nth-child(4n + 1) {
    background-color: var.$btn-color1;
    color: var.$text-color-secondary;
    &:hover {
      background-color: var.$btn-color1-hover;
    }
  }
  label:nth-child(4n + 2) {
    background-color: var.$btn-color2;
    color: var.$text-color-secondary;
    &:hover {
      background-color: var.$btn-color2-hover;
    }
  }
  label:nth-child(4n + 3) {
    background-color: var.$btn-color3;
    color: var.$text-color-secondary;
    &:hover {
      background-color: var.$btn-color3-hover;
    }
  }
  label:nth-child(4n) {
    background-color: var.$btn-color4;
    color: var.$text-color-secondary;
    &:hover {
      background-color: var.$btn-color4-hover;
    }
  }
}
.blog-author {
  margin-bottom: 15px;
  display: flex;
  .author {
    margin-left: 15px;
  }
  .author-avatar {
    width: 50px;

    img {
      width: 100% !important;
      height: auto !important;
      border-radius: 25px !important;
    }
  }
}
