@use "../abstracts/variables" as var;
@use "sass:math";
@use "../abstracts/mixins" as mix;

body {
  font-family: var.$font-family-montserat;
  font-weight: var.$font-weight-normal;
  line-height: var.$line-height-base;
  background-color: var.$background-color-base;
}

h1,
h2,
h3 {
  margin-bottom: 0;
  font-weight: var.$font-weight-normal;
  color: var.$Text-color-heading;
}
h2,
h3 {
  margin-bottom: math.div(var.$gutter-base, 2);
  font-weight: 700;
}

.button {
  border: none;
  border-radius: 15px;
  background-color: var.$background-color-secondary;
  padding: 10px 20px;
  color: var.$text-color-secondary;
}
.button:hover {
  background-color: var.$background-color-hover;
}

.classic-link {
  color: var.$button-color;
  font-weight: 500;
}
.classic-link:hover {
  text-decoration: underline;
}

.card-body {
  h2,
  h3 {
    color: var.$background-color-secondary;
  }
  //background-color: var.$background-color-base-secondary;
  .card-title {
    font-weight: 600;
    margin-bottom: var.$gutter-base;
  }
}
.card:hover {
  transform: scale(1.05);
}
.col-md-4 {
  @include mix.tablet-styles {
    margin-bottom: var.$gutter-base;
  }
}
.card {
  transition: transform 0.2s;
  background-color: var.$background-color-base-secondary;
  border: none;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.203) 0px 5px 15px;
}
.container-section {
  @extend %section;
}

.header-container {
  width: 30%;
  margin: 0 auto;
  padding-bottom: var.$gutter-base;
  @include mix.tablet-styles {
    width: 70%;
  }
}
/* Dark Blue Card */
.card-dark-blue {
  background-color: var.$background-color-secondary;
  color: var.$text-color-secondary;
}

.card-dark-blue .card-title,
.card-dark-blue .card-text {
  color: var.$text-color-secondary;
}

/* Pink Card */
.card-pink {
  background-color: var.$color-pink;
  color: var.$text-color-secondary;
}

.card-pink .card-title,
.card-pink .card-text {
  color: var.$text-color-secondary;
}

/* Blue Card */
.card-blue {
  background-color: var.$btn-color4;
  color: var.$text-color-secondary;
}

.card-blue .card-title,
.card-blue .card-text {
  color: var.$text-color-secondary;
}
.blue-btn {
  border: none;
  border-radius: 15px;
  padding: 8px 32px;
  font-weight: 500;
  background-color: var.$background-color-secondary;
  color: var.$text-color-secondary;
  @include mix.tablet-styles {
    padding: 15px 32px;
    text-align: center;
    font-weight: 700;
  }
}
.blue-btn:hover {
  color: var.$text-color-secondary;
  text-decoration: none;
  background-color: var.$background-color-hover;
}
.whitebtn {
  background-color: var.$text-color-secondary;
  color: var.$background-color-secondary;
  padding: 12px 32px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  color: var.$background-color-secondary;
}
.whitebtn:hover {
  background-color: var.$text-color-secondary-transperent;
  text-decoration: none;
  color: var.$background-color-secondary;
}
.display-none {
  display: none;
  @include mix.tablet-styles {
    display: block;
  }
}
.mobile-none {
  @include mix.tablet-styles {
    display: none;
  }
}
.fa-brands {
  color: var.$background-color-secondary;
}
.fa-brands:hover {
  color: var.$background-color-hover;
}
